<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '../includes/head.html' %}
	</head>
	<body id="appli_chat">
		{% include '../includes/menu-lat.html' %}
		<div class="views">
			<div class="view view-main">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="center sliding">
							<img src="/img/logo.jpg" align="logo">
						</div>
						<div class="right">
							<a href="#" class="link icon-only open-panel" data-panel="left">
								<i class="icon icon-bars"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="pages navbar-through toolbar-through">
					<div data-page="index" class="page">
						<div class="page-content">
							<div class="content-block">
								<div class="content-block-inner">
									<div class="list-block media-list">
										<ul>
											<li v-for="message in index.messages">
												<a href="#id" class="item-link" @click="infosId(message)">
													<div class="item-content">
														<div class="item-inner">
															<div class="item-title-row">
																<div class="item-title">
																	<b v-text="message.station"></b>
																</div>
																<div class="item-after">
																	<span class="badge" v-bind:class="badgeColor(message.created_at)" v-text="message.time"></span>
																</div>
															</div>
															<div class="item-subtitle">
																<small v-text="message.user"></small>
															</div>
															<div class="item-text" v-text="message.message"></div>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% include '../includes/id_message.html' %}
				</div>
			</div>
			<div class="toolbar tabbar tabbar-labels" v-show="tabbar_visible">
				<div class="toolbar-inner" style="justify-content: center;">
					<p><a href="#" class="button button-big button-fill color-blue go-signal">Envoyer un message</a></p>
				</div>
			</div>
		</div>

		{% include '../includes/popup.html' %}

		<script src="/js/socket-io.js"></script>
		<script src="/js/framework7.js"></script>
		<script src="/js/vue.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>
