{% extends './layouts/application-layout.html' %}

{% block content %}
<h1>Infos</h1>

{% if infos %}
	<div class="list-block media-list">
		<ul>	
			{% for info in infos %}
			<li>
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title">
							<a href="{{ info.link }}" class="external" target="_blank" style="font-weight: bold; color: #000;">
								{{ info.title }}
							</a>
						</div>
					</div>
					<div class="item-text">
						{{ info.p }}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	
{% endif %}

{% endblock %}