{% extends "../../layouts/default.html" %}

{% block content %}

	<h1 class="page-header">Articles</h1>

	<ul class="breadcrumb">
	    <li><a href="#">Articles</a></li>

  	</ul>

	<div class="well">
		<div class="bs-component">
			<a href="/admin/articles/create" class="btn btn-primary">Créer article</a>
		</div>
		<br>

		<form class="" action="#" method="get">
			<div class="input-group">
			    <input type="text" class="form-control" placeholder="Chercher un article"/>
			    <span class="input-group-addon">
			        <i class="fa fa-search"></i>
					Chercher
			    </span>
			</div>
		</form>
		<br>
		<table class="table table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>id</th>
					<th>titre</th>
					<th>Apercu</th>
					<th>Date création</th>
					<th>Editer</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% if articles %}
					{% for article in articles %}
						<tr>
							<td>{{ article.id }}</td>
							<td><a href="/admin/articles/edit/{{ article.id }}">{{ article.title }}</a></td>
							<td>{{ article.overview }}</td>
							<td>{{ article.created_at }}</td>
							<td><a href="/admin/articles/edit/{{ article.id }}" class="btn btn-xs btn-info">Editer</a></td>
							<td>
								<form action="/admin/articles/delete/{{ article.id}}" method="POST">
									<button type="submit" class="btn btn-xs btn-danger">Supprimer</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</div>
	</table>

	<ul class="pagination">
		<li><a href="#"><<</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">>></a></li>
	</ul>

{% endblock %}
